# Python virtual environments
.venv/
venv/
env/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# PyCharm / VSCode
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
